@import "tailwindcss";

@theme {
  --color-conch-dark: #0f172a;
  --color-conch-light: #38bdf8;
  --color-conch-accent: #c084fc;
}

body {
    background-color: var(--color-conch-dark);
    color: #f1f5f9;
}
