version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/conchclub
      SPRING_DATA_MONGODB_DATABASE: conchclub
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./credentials.json:/service/credentials.json
      - ./src/main/resources/application-local.yml:/service/config/application-local.yml
    depends_on:
      - mongo
    restart: always

  frontend:
    build:
      context: ./client
      dockerfile: ../docker/Dockerfile.frontend
      target: development
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./mongo-init/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    restart: always


volumes:
  mongo_data:
